.dropdown {
  position: relative;
  display: inline-block;

  .autocomplete-items {
    position: relative;
    width: 100%;

    div {
      padding: 10px;
      cursor: pointer;
      border-left: 1px solid #767676;
      border-right: 1px solid #767676;
      &:last-child {
        border-bottom: 1px solid #767676;
      }
      &:hover {
        /*when hovering an item:*/
        background-color: whitesmoke;
      }
    }

    .autocomplete-active {
      /*when navigating through the items using the arrow keys:*/
      background-color: DodgerBlue !important;
      color: #ffffff;
    }
  }
}