.note-list {
    .tag {
        color: #000;
        cursor: pointer;
        background-color: #e6e6e6;
        margin: 3px;
        padding: 4px 8px;
        &:hover {
            color: #fff;
            background-color: #1461a0;
        }

        &:before {
            content: "#";
        }
    }

    .contact {
        color: #1461a0;
        text-decoration: underline;

        &:hover {
            color: #fff;
            background-color: #1461a0;
        }
    }

    .school {
        color: #ec0000;
        text-decoration: underline;

        &:hover {
            color: #fff;
            background-color: #1461a0;
        }
    }
    
    .note-start {
        font-style: italic;
        display: inline;
        font-size: 0.8em;
        padding-right: 12px;
    }

    .note-arrow {
        &:before {
            content: "\2192";
            margin-right: 6px;
            text-decoration: none !important;
        }
    }

    .note-contact {
        font-style: italic;
        display: inline;
        text-decoration: underline;
        font-size: 0.8em;
        padding-right: 12px;
    
        
        &:hover {
            color: #fff;
            background-color: #1461a0;
        }
    }
}