.button-bar {
    position: relative;
    padding-top: 1rem;
    display: flex;

    >* {
        margin-right: 5px;
    }

}

textarea {
    height: auto !important;
}

.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0.5em;

    @media (min-width: 800px) {
        flex-direction: row;
    }

    section {
        flex-basis: 0;
        flex-grow: 1;
        padding: 0.25em;
        margin-top: 0.5em;
    }
}
