#header {
    z-index: 1000;
}
.menu-item-ul {
    position: sticky;
    z-index: 1000;
    top: 50px;
    margin: 0;
    padding: 0;
    list-style: none;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    font-weight: 400;
    background-color: rgb(245, 245, 245);
    box-shadow: 0 4px rgba(0,0,0,0.04);
}

.menu-item-li {
    height: 50px;
    font-weight: 500;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    position: relative;
}

.menu-item {
    &.active {
        color: #ec0000 !important;
    }
    color: #000;
    font-weight: 500;
    position: relative;
    line-height: 22px;
    padding-left: 7px;
    border-left: 8px solid transparent;
    background-color: transparent;
    height: 100%;
    
    align-items: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    white-space: normal;
    height: 44px;
    white-space: nowrap;
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-text-decoration: none;
    text-decoration: none;
    border: none;
    border-left-color: currentcolor;
    border-left-style: none;
    border-left-width: medium;
    cursor: pointer;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    padding: 12px 16px;
    padding-left: 16px;
    -webkit-transition: color 0.1s ease-in-out, background-color 0.1s ease-in-out;
    transition: color 0.1s ease-in-out, background-color 0.1s ease-in-out;

    &.active {
        background-color: #ffffff;
        border-bottom: 2px solid #e40;
    }

    &::after {
        content: '';
        display: block;
        min-height: inherit;
        font-size: 0;
    }

    flex-grow: 1;
    text-align: left;

    &:not([aria-expanded='true']):hover,
    &:not([aria-expanded='true']):focus {
        background-color: transparent;
    }
}

.sc-eCApGN.fRSorr {
   margin: 0 !important;
   background-color: #767676;
   cursor: not-allowed;
   &:hover {
    background-color: #767676;
   }
}